@font-face {
    font-family: "worksans";
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --fontwork: "worksans";
    --fontinter: "inter";
    --sizehero: 9.4rem;
}

p {
    font-family: var(--fontinter);
}

/* ! california calling */
h1 {
    font-family: var(--fontinter);
    font-size: 9.6rem;
    color: white;
    width: 700px;
    margin: 30px auto;
}

h1 span {
    font-family: var(--fontwork);
    /* outline effect */
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0  white, -1px 1px 0  white, 1px 1px 0  white;

    text-align: center;
    font-weight: 700;
}


/* headline in the articles */
h2 {
    font-family: var(--fontinter);
    font-size: 8.4rem;
    font-weight: 700;
}

/* mini text over the numbers */
h3 {
    font-family: var(--fontwork);
    font-size: 1.4rem;
}

/* for article nr and author */
h4 {
    font-size: 2rem;
    font-family: var(--fontwork);
    font-weight: 400;
}


a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: white solid 1px;
    font-size: 2rem;
}

a:hover {
    color: black;
    background-color: white;
}

/* ! HERO */
header .hero {
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    padding: 30vh 6vw;
}

.hero h1 {
    text-align: center;
    line-height: 90%;
}

.hero div {
    display: flex;
    justify-content: space-between;
    margin-top: 20vh;
}

.hero p {
    font-size: 2rem;
    font-family: var(--fontwork);
}


/* ! MAIN  */
main section {
    padding: 50px 0;
}


/* ! MAIN NUMBERS */
main .numbers {
    background-color: black;
    padding: 50px 6vw;
}

main .numbers div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 6vw; */
    margin-top: -50px;
}

.numbers article {
    padding: 50px;
}

.numbers img {
    width: 450px;
}

.numbers h3 {
    color: white;
    font-weight: 200;
}

.numbers p {
    color: white;
    font-size: 9.4rem;
    font-family: var(--fontinter);
    line-height: 90%;
    margin-bottom: 50px;
}


/* ! MAIN MIDDLE */
main .middle {
    padding: 0 30vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
/* #ausrichtung anpassen. wenn position der bilder dazukommt wird das vermutlich ganz anders gelöst */
}

.middle h2 {
    font-size: 8.4rem;
    font-family: var(--fontinter);
}

.middle p {
    font-family: var(--fontwork);
    font-size: 1.6rem;
}


/* ! MAIN GOLDEN */
main .golden {
    background-color: black;
    color: white;
}


/* ! MAIN POPPY */
main .poppy {

}




/* ! FOOTER */

footer {
    background-color: black;
}

/* ! FooterTop */
.footertop {
    padding: 50px;
}

.footertop p:first-of-type {
    font-size: 1.2rem;
    font-family: var(--fontwork);
    color: white;
    margin-bottom: 15px;
}

.footertop p:nth-of-type(2) {
    font-size: 2.4rem;
    font-family: var(--fontinter);
    margin-bottom: 30px;
    color: white;
    width: 35%;
}

/* ! FooterBottom */

.footerbottom {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footerbottom .socials img {
    width: 30px;
    height: 30px;
    padding: 3px;
}

.footerbottom .socials p {
    color: white;
    font-family: var(--fontwork);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footerbottom .logos img {
    /* width: 60px; */
    height: 60px;
    padding: 5px;
}