@font-face {
    font-family: "worksans";
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid teal;
}

html {
    font-size: 62.5%;
}

:root {
    --fontwork: "worksans";
    --fontinter: "inter";
    --sizehero: 9.4rem;
}

img {
    max-width: 100%;
}

p {
    font-family: var(--fontinter);
}

/* ! california calling */
h1 {
    font-family: var(--fontinter);
    font-size: 9.6rem;
    color: white;
    width: 700px;
    margin: 30px auto;
}

h1 span {
    font-family: var(--fontwork);
    /* outline effect */
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0  white, -1px 1px 0  white, 1px 1px 0  white;

    text-align: center;
    font-weight: 700;
}


/* headline in the articles */
h2 {
    font-family: var(--fontinter);
    font-size: 8.4rem;
    font-weight: 700;
}

/* mini text over the numbers */
h3 {
    font-family: var(--fontwork);
    font-size: 1.4rem;
}

/* for article nr and author */
h4 {
    font-size: 1.8rem;
    font-family: var(--fontwork);
    font-weight: 300;
}


a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: white solid 1px;
    font-size: 2rem;
}

a:hover {
    color: black;
    background-color: white;
}


/* ! HERO */
header .hero {
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    padding: 30vh 6vw;
}

.hero h1 {
    text-align: center;
    line-height: 90%;
}

.hero div {
    display: flex;
    justify-content: space-between;
    margin-top: 20vh;
}

.hero p {
    font-size: 2rem;
    font-family: var(--fontwork);
}


/* ! MAIN  */
main section {
    padding: 50px 0;
}


/* ! MAIN NUMBERS */
main .numbers {
    background-color: black;
    padding: 50px 6vw;
}

main .numbers div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 6vw; */
    margin-top: -50px;
}

.numbers article {
    padding: 50px;
}

.numbers img {
    width: 450px;
}

.numbers h3 {
    color: white;
    font-weight: 200;
}

.numbers p {
    color: white;
    font-size: 9.4rem;
    font-family: var(--fontinter);
    line-height: 90%;
    margin-bottom: 50px;
}


/* ! MAIN MIDDLE */
main .middle {
    /* padding: 200px 40vw; */
    display: flex;
    align-content: center;
    justify-content: center;

    /* padding-left: 438px; */

    position: relative;
}

.middle div {
    width: 450px;
}

.middle h2 {
    font-size: 8.4rem;
    font-family: var(--fontinter);
    
    /* width: 860px; */
    /* # NEVER EVER FESTE HÖHE height: 185px; */

    padding-top: 410px;
    /* padding-right: 430px; */
}

.middle p:first-of-type {
    font-family: var(--fontwork);
    font-size: 1.6rem;

    /* padding-right: 465px; */
    padding-bottom: 680px;
}

.middle p:nth-of-type(2){
    font-family: var(--fontwork);
    font-size: 1.6rem;
    /* padding-right: 443px; */
    margin-bottom: 310px;
}


/* ! action imgs */

.middle img {
    position: absolute;
    width: 330px;
    height: 220px;
}

.middle img:first-of-type {
    top: -50px;
    right: 100px;
}

.middle img:nth-of-type(2) {
    top: 280px;
    left: 55px;
    width: 275px;
    height: 180px;
}

.middle img:nth-of-type(3) {
    top: 665px;
    right: 0px;
}

.middle img:nth-of-type(4) {
    top: 875px;
    left: 220px;
}

.middle img:nth-of-type(5) {
    bottom: 583px;
    right: 165px;
}

.middle img:nth-of-type(6) {
    left: 0px;
    bottom: 320px;
    width: 275px;
    height: 180px;
}

.middle img:nth-of-type(7) {
    bottom: -55px;
    right: 275px;
    width: 440px;
    height: 290px;
    z-index: 1;
}


/* ! MAIN GOLDEN */
main .golden {
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}

.wrapper{
    padding-top: 160px;
    padding-bottom: 740px;

    display: flex;
    position: relative;
}

.wrapper div:first-of-type {
    width: 440px;
}

.wrapper div:nth-of-type(2) {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.golden p {
    font-size: 2.9rem;
    font-family: var(--fontinter);
    font-weight: bold;
    margin-bottom: 15px;
}

/* ! golden imgs */
.golden .greybear {
    width: 730px;
    height: 730px;

    position: absolute;
    left: 110px;
    bottom: -167px;
}

.golden .gb2 {
    width: 366px;
    height: 473px;

    position: absolute;
    left: 778px;
    bottom: -76px;
}

/* ! Golden Animation */
.golden article {
    /* background-color: salmon;
    border: solid red 1px; */
    width: 410px;
    height: 410px;

    position: absolute;
    bottom: -320px;
    right: -135px;
    
    transform: all 0.5s 0s;
}

.golden article img {
    transform: rotate(180deg);
    object-fit: contain;
    animation: drehen 10s linear infinite 0.5s;
}


/* ! MAIN POPPY */
main .poppy {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}



.w2{
    padding-top: 400px;
    padding-bottom: 740px;

    display: flex;
    position: relative;
}

.w2 div:first-of-type {
    width: 440px;
}

.w2 div:nth-of-type(2) {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poppy p {
    font-size: 2.9rem;
    font-family: var(--fontinter);
    font-weight: bold;
    margin-bottom: 15px;
}

/* ! poppy imgs */
.poppy .p3 {
    width: 360px;
    height: 470px;

    position: absolute;
    left: 170px;
    bottom: -50px;
}

.poppy .rosebear {
    width: 730px;
    height: 730px;

    position: absolute;
    left: 475px;
    bottom: -76px;
}




/* ! FOOTER */

footer {
    background-color: black;
    margin-top: 100px;
}

/* ! FooterTop */
.footertop {
    padding: 50px;
}

.footertop p:first-of-type {
    font-size: 1.2rem;
    font-family: var(--fontwork);
    color: white;
    margin-bottom: 15px;
}

.footertop p:nth-of-type(2) {
    font-size: 2.4rem;
    font-family: var(--fontinter);
    margin-bottom: 30px;
    color: white;
    width: 35%;
}

/* ! FooterBottom */

.footerbottom {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footerbottom .socials img {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-bottom: 15px;
}

.footerbottom .socials p {
    color: white;
    font-family: var(--fontwork);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footerbottom .logos img {
    /* width: 60px; */
    height: 60px;
    padding: 5px;
}



/* ! Animation GoldenBear */

@keyframes drehen {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
    
}